staging:
  adapter: postgresql
  database: chatbot_admin_staging

production:
  adapter: postgresql
  database: 
  username: 
  password: 
  host: 

development:
  adapter: postgresql
  database: chatbot_admin_development

test:
  adapter: postgresql
  database: chatbot_admin_test
  min_messages: warning
